{{ define "experience" }}{{ if .DoRender }}
	\jobitem{ {{ .Title }} }{ {{ .Employer }} \textbar\ {{ .Location }} }{ {{ .StartDate }} -- {{ with .EndDate }}{{ . }}{{ else }}Current{{ end }} }{
		\begin{itemize}
      {{ range .Bullets }}
        \item {{ . }}
      {{ end }}
		\end{itemize}
	}
{{ end }}{{ end }}
