{{ define "project" }}{{ if .DoRender }}
	\secitem
    { {{ if .URL }} \href{ {{ .URL }} }{ {{ prepare .Title }} } {{ else }} {{ prepare .Title }} {{ end }} }
    { {{ prepare .Category }} \textbar\ {{ join .Stack ", " }} }
    { {{ with .CompletionDate }} {{ . }} {{ else }} Current {{ end }} }
    {
      \begin{itemize}
        {{ range .Bullets }}
          \item {{ prepare . }}
        {{ end }}
      \end{itemize}
    }
{{ end }}{{ end }}
